/* Navbar.css */

nav {
    background-color: black;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}
.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    display: inline;
    margin-right: 10px; /* Adjust spacing between list items */
}

.navbar-list li:last-child {
    margin-right: 0; /* Remove margin-right for the last list item */
}
